@model SportsBook.Web.ViewModels.Comments.RequestWriteComment

@using (@Html.BeginForm("WriteComment", "Comments", FormMethod.Post))
{

    @Html.Hidden("id", ViewContext.RouteData.Values["id"])
    @Html.EditorFor(model => model.Content, "ContentCommentTemplate");
    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    <input type="submit" class="btn btn-success" />
}

@*<div id="result"></div>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
{
    @Html.Hidden("id", ViewContext.RouteData.Values["id"])
    @Html.TextAreaFor(model => model.Content, 10, 240, null);
    <input type="submit" value="OK" />
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
