@model List<SportsBook.Web.Areas.Events.ViewModels.EventsModels.EventViewModel>
@using Microsoft.AspNet.Identity
<div class="row">
    @foreach (var sportEvent in Model)
    {
        <div class="col-md-4">
            @Html.ActionLink(@sportEvent.Name, "EventDetails", "EventsPublic", new { id = @sportEvent.Id, area = "Events" }, new { @class = "details-name" })
            <div class="holder caption">              
                <a href="@Url.Action("EventDetails", "EventsPublic", new { id = @sportEvent.Id, area = "Events" })">   
                    <img src=@sportEvent.Image id="image-container-@sportEvent.Id" onError="standBy(@sportEvent.Id)" class="image" />
                    
                    <div>                        
                        <span class="details-caption" id="details">Детайли</span>
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col-md-4">
                   
                    @if (User.Identity.GetUserId() != null)
                    {
                        @Html.Action("CheckEventInFavourites", "FavoriteEvents", new { id = @sportEvent.Id, area = "Events" })
                    }                    
                </div>
            </div>
        </div>
    }
</div>