@model List<SportsBook.Web.Areas.Facilities.ViewModels.Facilities.FacilityViewModel>
@using Microsoft.AspNet.Identity
<div class="row row-container">
    @foreach (var facility in Model)
    {
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink(@facility.Name, "FacilityDetails", "FacilitiesPublic", new { id = @facility.Id, area = "Facilities" }, new { @class = "details-name" })
                </div>
                <div class="col-md-6">
                    @if (User.Identity.GetUserId() != null)
                    {
                        @Html.Action("CheckFacilityInFavourites", "FavoriteFacilities", new { id = @facility.Id, area = "Facilities" })
                    }
                </div>
            </div>
            <div>


                <div class="holder caption">
                    <img class="image" src="@facility.Image" id="image-container-@facility.Id" onerror="standBy(@facility.Id)">
                    <a href="@Url.Action("FacilityDetails", "FacilitiesPublic", new { id = @facility.Id, area = "Facilities" })">
                        <div class="details-caption-holder  animated bounce">
                            <span class="details-caption" id="details">Information</span>
                        </div>
                    </a>
                    <div class="user-rating-holder animated bounce" style="padding-right:0;padding-left:0">
                        @*@ @if (User.Identity.GetUserId() != null)
                         {
                            @Html.Action("GetUserFacilityRating", "Ratings", new { id = @facility.Id, area = "Facilities" })
                         }*@

                        @Html.Action("GetUserFacilityRating", "Ratings", new { id = @facility.Id, area = "Facilities" })
                    </div>
                </div>
            </div>
            <div class="row" style="padding:0">
                <div class="col-md-2"></div>
                <div class="rating-star col-md-1"></div>
                <div class="col-md-5" style="padding-left:10px;padding-right:0">
                    <div class="row">
                        <div class="col-md-5" style="padding-right:0">
                            @if (@facility.Rating != null)
                            {
                                <span style="font-size:20px">@facility.Rating</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                            /5
                            <br />
                            @facility.VotesCount
                            @if (@facility.VotesCount == 1)
                            {
                                <span>vote</span>
                            }
                            else
                            {
                                <span>votes</span>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
