@model List<SportsBook.Web.ViewModels.Facilities.FacilityViewModel>
@using Microsoft.AspNet.Identity
<div class="row">
    @foreach (var facility in Model)
    {
        <div class="col-md-4">
            <div class="holder caption">
                <img src=@facility.Image alt=" this is a title" class="image" />
                <div>
                    <span class="details-caption" id="details">Details</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink(@facility.Name, "FacilityDetails", "Facilities", new { id = @facility.Id }, new { content = "a" })
                  
                    @Html.Action("CheckFacilityInFavourites", "Account", new { id = @facility.Id })                   

                   
                </div>
            </div>
        </div>
    }
</div>