@model SportsBook.Web.Areas.Facilities.ViewModels.Facilities.FacilityDetailedViewModel
@using Microsoft.AspNet.Identity
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>@Model.Name</h3>
    </div>
    <div class="col-md-4">
        <div class="details-favorites-button">
            @if (User.Identity.GetUserId() != null)
            {
                @Html.Action("CheckFacilityInFavourites", "FavoriteFacilities", new { id = Model.Id, area = "Facilities" })
            }
            else
            {
                <div id="fav-field" class="row">
                    <div class="favorites-button"></div>
                </div>
                <div class="favorites-text">
                    <span>Add To Favorites</span>
                </div>
            }
        </div>
        <div>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        @{int i = 0;
            foreach (var category in Model.SportCategories)
            {
                i++;
                <span style="font-size:15px">@category.Name</span>
                if (i < Model.SportCategories.Count)
                {
                    <span>|</span>
                }
            }
        }

        <span style="font-size:15px">| @Model.City.Name</span>

        @if (Model.Rating != null)
        {
            <span style="font-size:15px">| Overall Rating: @Model.Rating</span>
        }
        else
        {
            <span style="font-size:15px">| -</span>
        }
        /5

        | @Model.VotesCount
        @if (Model.VotesCount == 1)
        {
            <span>vote</span>
        }
        else
        {
            <span>votes</span>
        }

        <div style="display:inline-block">
            <span>| Your Raiting: </span>
        </div>
        <div style="display:inline-block;">
            @Html.Action("GetUserFacilityRating", "Ratings", new { id = Model.Id, area = "Facilities" })
        </div>
    </div>
</div>

<div class="row">
    <div>
        <img src=@Model.Image class="image-in-details" onerror="standBy()">
    </div>

    <div>@Model.Description</div>
</div>
<div class="clear"></div>
<div id="map_canvas" class="map-in-details"></div>
<div class="address-field">Адрес: <span id="address"></span> </div>
<div class="sports-tags">

</div>


<div class="clear row">
    <div class="col-md-offset-5 col-md-3">
        <button id="show-comments-button" class="btn btn-primary">Show Comments</button>
        <button id="hide-comments-button" class="btn btn-danger" style="display:none">Hide Comments</button>
        @*Html.ActionLink("Add Comment", "AddComment", "Comments", new { area = "Facilities", id = Model.Id }, new { @class = "btn btn-primary" })*@
    </div>
    <div class="col-md-4">
        @if (Request.IsAuthenticated && Model.AuthorId == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit Facility", "EditFacility", "FacilitiesPrivate", new { area = "Facilities", id = Model.Id }, new { @class = "btn btn-primary pull-right" })
        }
    </div>
</div>
<div style="height:10px;clear:both;"></div>
<div id="comments-part">
    <div class="row">
        <div class="col-md-offset-2 panel panel-default col-md-8 add-comment-container">
            <textarea class="add-comment-textarea" placeholder="Add Comment" name="Content"></textarea>
            <div>
                <button class="submit-comment-button btn btn-primary" data-id="@Model.Id">Add comment</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div id="latest-comments-container" class="row">

    </div>

    <div id="comments-container" data-id="@Model.Id"></div>

    @*@ @foreach (var comment in Model.FacilityComments)
        {
           @Html.Action("RedirectToGetLatestComments", "FacilitiesPublic", new { area = "Facilities", id = Model.Id })
            if (comment.IsDeleted == false)
            {
                <div class="row">
                    @{
                        var commentViewModel = SportsBook.Web.Infrastructure.Mapping.AutoMapperConfig.Configuration.CreateMapper().Map<SportsBook.Web.Areas.Facilities.ViewModels.Comments.CommentViewModel>(comment);
                        @Html.Partial("_SingleCommentPartial", commentViewModel)
                    }
                </div>
            }
        }*@
</div>

@section AddComment{
    <script src="~/Scripts/comments-controller.js"></script>
}

@section GoogleMapsSettings{
    <script type="text/javascript">
        $(document).ready(function () {
            Initialize();
        });

        function Initialize() {
            var markersArray = [];

            google.maps.visualRefresh = true;
            var myLatlng = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
            var mapOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            var marker = new google.maps.Marker({
                draggable: true,
                position: myLatlng,
                map: map,
                title: 'Посочен адрес'
            });

            var geocoder = new google.maps.Geocoder;

            geocodeLatLng(geocoder, map);

            function geocodeLatLng(geocoder, map) {
                var latlng = {lat: @Model.Latitude, lng: @Model.Longitude};
                geocoder.geocode({'location': latlng}, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        if (results[1]) {
                            console.log(results[1]);
                            $('#address').html(results[1].formatted_address);
                        } else {
                            window.alert('No results found');
                        }
                    } else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });
            }

        }
    </script>
}




