@model SportsBook.Web.Areas.Facilities.ViewModels.Facilities.FacilityDetailedViewModel
@using Microsoft.AspNet.Identity
<h3>@Model.Name</h3>

<img src=@Model.Image class="image-in-details" onError="standBy()" class="image">
<div>@Model.Description</div>

@Model.City.Name

<div class="sports-tags">
    @foreach (var category in @Model.SportCategories)
    {
        <button type="button" class="btn btn-primary">
            <span>@category.Name</span>
        </button>
    }
</div>


@if (Request.IsAuthenticated && Model.AuthorId == User.Identity.GetUserId())
{
    @Html.ActionLink("Edit Facility", "EditFacility", "FacilitiesPrivate", new { area = "Facilities", id = Model.Id }, new { @class = "btn btn-primary" })
}


<div>
    <button id="show-comments-button" class="btn btn-primary">Show Comments</button>
    <button id="hide-comments-button" class="btn btn-danger" style="display:none">Hide Comments</button>
    @Html.ActionLink("Add Comment", "AddComment", "Comments", new { area = "Facilities", id = Model.Id }, new { @class = "btn btn-primary" })
</div>

<div id="comments-part"></div>

<script id="comments-template" type="text/template"> 
    @foreach (var comment in Model.FacilityComments)
    {
        if (comment.IsDeleted == false)
        {    
            <div class="row">
                <div class="col-md-2"><img src=@comment.CreatorAvatar width="100" height="100"></div>
                
                <div class="panel panel-default col-md-10">
                    <div class="panel-heading">
                        <strong>@comment.AuthorName</strong><span class="text-muted pull-right">@Html.DisplayFor(m => comment.CreatedOn, "DateTimeTemplate")</span>
                    </div>

                    <div class="panel-body">
                        @comment.Content
                    </div>
                    @if (User.Identity.GetUserId() == @comment.AuthorId)
                    {
                        <div class="row comments-bottom">
                            <div class="col-md-offset-10 col-md-2 btn-group">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9 btn-group">
                                        @Html.ActionLink("Edit", "EditComment", "Comments", new { area = "Facilities", id = comment.Id }, new { @class = "btn btn-warning" })
                                        @using (Html.BeginForm("DeleteComment", "Comments", new { area = "Facilities", id = comment.Id }, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="submit" class="btn btn-danger" value="Delete" />
                                            @*@Html.ActionLink("Delete", "DeleteComment", "Comments", new { id = comment.Id }, new { @class = "btn btn-danger"})*@
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>    
            </div>        
           
        }
    }
</script>


@section addComment{
    <script>
        $("#show-comments-button").on("click", function () { showComments() });
        function showComments() {
            $("#show-comments-button").css("display", "none")
            var ShowCommentsTemplate = $('#comments-template').html();
            $("#comments-part").html(ShowCommentsTemplate)
            $("#hide-comments-button").css("display", "inline-block")
        }

        $("#hide-comments-button").on("click", function () { hideComments() });
        function hideComments() {
            $("#hide-comments-button").css("display", "none")
            $("#comments-part").empty();
            $("#show-comments-button").css("display", "inline-block")
        }
    </script>
}

