@model SportsBook.Web.ViewModels.Facilities.FacilityDetailedViewModel

<h3>@Model.Name</h3>

<img src=@Model.Image class="image-in-details">
<div>@Model.Description</div>

@Model.City.Name

<div class="sports-tags">
@foreach (var category in @Model.SportCategories)
{
    <button type="button" class="btn btn-primary">
        <span>@category.Name</span>
    </button>
}
</div>

@Html.Partial("CommentsPartial", new SportsBook.Web.ViewModels.Comments.RequestWriteComment())

