@model SportsBook.Web.ViewModels.Facilities.FacilityDetailedViewModel
@using Microsoft.AspNet.Identity
<h3>@Model.Name</h3>

<img src=@Model.Image class="image-in-details">
<div>@Model.Description</div>

@Model.City.Name

<div class="sports-tags">
    @foreach (var category in @Model.SportCategories)
    {
        <button type="button" class="btn btn-primary">
            <span>@category.Name</span>
        </button>
    }
</div>

@if (Request.IsAuthenticated)
{
    <button id="add-comment-button" class="btn btn-primary">Add</button>
    <div id="add-comment-part"></div>
    <button id="cancel-comment-button" class="btn btn-danger" style="display:none">Cancel</button>
}

@foreach (var comment in Model.FacilityComments)
{
    if (comment.IsDeleted == false)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@comment.AuthorName</strong> commented on<span class="text-muted">@comment.CreatedOn</span>
            </div>
            <div class="panel-body">
                @comment.Content
            </div>
            @if (User.Identity.GetUserId() == @comment.AuthorId)
            {
                <div class="row comments-bottom">
                    <div class="col-md-offset-10 col-md-2 btn-group">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9 btn-group">
                                @Html.ActionLink("Edit", "EditComment", "Comments", new { id = comment.Id }, new { @class = "btn btn-warning" })
                                @using (Html.BeginForm("DeleteComment", "Comments", new { id = comment.Id }, FormMethod.Post))
                                {
                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                    @*@Html.ActionLink("Delete", "DeleteComment", "Comments", new { id = comment.Id }, new { @class = "btn btn-danger"})*@
                                }
                            </div>

                        </div>

                    </div>
                </div>
            }
        </div>
    }

}

<script id="add-comment-template" type="text/template">
    @Html.Partial("_CommentsPartial", new SportsBook.Web.ViewModels.Comments.RequestWriteComment())
</script>


@section addComment{
    <script>
        $("#add-comment-button").on("click", function () { myAddFunction() });
        function myAddFunction() {
            $("#add-comment-button").css("display", "none")
            var addCommentTemplate = $('#add-comment-template').html();
            $("#add-comment-part").html(addCommentTemplate)
            $("#cancel-comment-button").css("display", "inline-block")
        }

        $("#cancel-comment-button").on("click", function () { myCancelFunction() });
        function myCancelFunction() {
            $("#add-comment-button").css("display", "inline-block")
            $("#add-comment-part").empty();
            $("#cancel-comment-button").css("display", "none")
        }
    </script>
}

