@model SportsBook.Web.ViewModels.Facilities.FacilityDetailedViewModel

<h3>@Model.Name</h3>

<img src=@Model.Image class="image-in-details">
<div>@Model.Description</div>

@Model.City.Name

<div class="sports-tags">
@foreach (var category in @Model.SportCategories)
{
    <button type="button" class="btn btn-primary">
        <span>@category.Name</span>
    </button>
}
</div>

@Html.TextAreaFor(model => model.FacilityComments, 10, 40, null);


    h3>Write New Message</h3>
@using (@Html.BeginForm("WriteComment", "Comments", FormMethod.Post))
{
    <br />
    <input type="text" name="title" />
    <br />
    <input type="text" name="content" />
    <input type="submit" class="btn btn-success" />
    <div>
        @Html.ValidationMessageFor(model => model., "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>
}

