@model SportsBook.Web.ViewModels.Account.AccountDetailsViewModel
@using Microsoft.AspNet.Identity
<div class="container" style="padding-top: 60px;">

    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src=@Model.Avatar class="profile-image avatar img-circle img-thumbnail" alt="avatar">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Първо име:</label>
                    <div class="col-lg-8">
                        <label class="control-label">@Model.FirstName</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Фамилия:</label>
                    <div class="col-lg-8">
                        <label class="control-label">@Model.LastName</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Потребителско име:</label>
                    <div class="col-lg-8">
                        <label class="control-label">@Model.UserName</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <label class="control-label">@Model.Email</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@if (User.Identity.GetUserName() == Model.UserName)
{
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <label class="control-label">
                            @Html.ActionLink("Промени", "EditAccount", "Account", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-warning" })
                        </label>
                    </div>
                </div>

            </form>
        </div>
    </div>
}

<div id="show-favorite-facilities-button" class="btn btn-primary">Харесани спортни обекти</div>
<div id="show-favorite-events-button" class="btn btn-primary">Събития, на които ще присъствам</div>
<div id="show-submitted-facilities-button" class="btn btn-primary">Създадени страници за спортни обекти</div>
<div id="show-submitted-events-button" class="btn btn-primary">Създадени събития</div>

<script id="favorite-facilities-template"  type="text/template">
@Html.Action("GetFavoriteFacilities", "Account")
</script>

<script id="favorite-events-template"  type="text/template">
@Html.Action("GetFavoriteEvents", "Account")
</script>

<script id="submitted-facilities-template"  type="text/template">
@Html.Action("GetSubmittedFacilities", "Account")
</script>

<script id="submitted-events-template"  type="text/template">
@Html.Action("GetSubmittedEvents", "Account")
</script>


<div id="view-content"></div>


@section accountContent{
    <script>
        $(document).ready(function () {     
            $("#show-favorite-facilities-button").on("click", function () { showContent1() });
            function showContent1() {
                $("#show-favorite-facilities-button").addClass("btn-success");
                $("#show-favorite-facilities-button").removeClass("btn-primary");
                var showTemplate = $('#favorite-facilities-template').html();
                $("#view-content").empty()
                $("#view-content").html(showTemplate)
                if ($("#show-favorite-events-button").hasClass("btn-success")) {
                    $("#show-favorite-events-button").removeClass("btn-success");
                    $("#show-favorite-events-button").addClass("btn-primary");
                }

                if ($("#show-submitted-facilities-button").hasClass("btn-success")) {
                    $("#show-submitted-facilities-button").removeClass("btn-success");
                    $("#show-submitted-facilities-button").addClass("btn-primary");
                }

                if ($("#show-submitted-events-button").hasClass("btn-success")) {
                    $("#show-submitted-events-button").removeClass("btn-success");
                    $("#show-submitted-events-button").addClass("btn-primary");
                }  
            }

            $("#show-favorite-events-button").on("click", function () { showContent2() });
            function showContent2() {
                $("#show-favorite-events-button").addClass("btn-success");
                $("#show-favorite-events-button").removeClass("btn-primary");
                var showTemplate = $('#favorite-events-template').html();
                $("#view-content").empty()
                $("#view-content").html(showTemplate)

                if ($("#show-favorite-facilities-button").hasClass("btn-success")) {
                    $("#show-favorite-facilities-button").removeClass("btn-success");
                    $("#show-favorite-facilities-button").addClass("btn-primary");
                }

                if ($("#show-submitted-facilities-button").hasClass("btn-success")) {
                    $("#show-submitted-facilities-button").removeClass("btn-success");
                    $("#show-submitted-facilities-button").addClass("btn-primary");
                }

                if ($("#show-submitted-events-button").hasClass("btn-success")) {
                    $("#show-submitted-events-button").removeClass("btn-success");
                    $("#show-submitted-events-button").addClass("btn-primary");
                }
            }

            $("#show-submitted-facilities-button").on("click", function () { showContent3() });
            function showContent3() {
                $("#show-submitted-facilities-button").addClass("btn-success");
                $("#show-submitted-facilities-button").removeClass("btn-primary");
                var showTemplate = $('#submitted-facilities-template').html();
                $("#view-content").empty()
                $("#view-content").html(showTemplate)

                if ($("#show-favorite-facilities-button").hasClass("btn-success")) {
                    $("#show-favorite-facilities-button").removeClass("btn-success");
                    $("#show-favorite-facilities-button").addClass("btn-primary");
                }

                if ($("#show-favorite-events-button").hasClass("btn-success")) {
                    $("#show-favorite-events-button").removeClass("btn-success");
                    $("#show-favorite-events-button").addClass("btn-primary");
                }

                if ($("#show-submitted-events-button").hasClass("btn-success")) {
                    $("#show-submitted-events-button").removeClass("btn-success");
                    $("#show-submitted-events-button").addClass("btn-primary");
                }
            }

            $("#show-submitted-events-button").on("click", function () { showContent4() });
            function showContent4() {
                $("#show-submitted-events-button").addClass("btn-success");
                $("#show-submitted-events-button").removeClass("btn-primary");
                var showTemplate = $('#submitted-events-template').html();
                $("#view-content").empty()
                $("#view-content").html(showTemplate)

                if ($("#show-favorite-facilities-button").hasClass("btn-success")) {
                    $("#show-favorite-facilities-button").removeClass("btn-success");
                    $("#show-favorite-facilities-button").addClass("btn-primary");
                }

                if ($("#show-favorite-events-button").hasClass("btn-success")) {
                    $("#show-favorite-events-button").removeClass("btn-success");
                    $("#show-favorite-events-button").addClass("btn-primary");
                }

                if ($("#show-submitted-facilities-button").hasClass("btn-success")) {
                    $("#show-submitted-facilities-button").removeClass("btn-success");
                    $("#show-submitted-facilities-button").addClass("btn-primary");
                }
            }
        });
</script>
}

