@model SportsBook.Web.Areas.Facilities.ViewModels.Facilities.FacilityChangeViewModel

@Html.AntiForgeryToken()
<hr />
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.CityId, Model.CitiesDropDown, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.CitiesDropDown, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SportCategories, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.ListBoxFor(model => model.SportCategoriesIds, Model.SportCategoriesDropDown, new { @class = "form-control",  required = "required", data_placeholder = "Select one or more sport categories." })
        @Html.ValidationMessageFor(model => model.SportCategoriesIds, "", new { @class = "text-danger" })
         @*@Html.DropDownListFor(m => m.SportCategories, Model.SportCategoriesDropDown, new { @class = "form-control" })*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Photo", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <input type="file" id="photo" name="file" class="photo" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Запази" />
    </div>
</div>